@using App.Components
@using mvcblog.Models
@model ProductModel
@{
    List<CategoryProduct> categories = ViewBag.categories as  List<CategoryProduct>;
    CategoryProduct category = ViewBag.category as CategoryProduct;
    List<ProductModel> otherposts =  ViewBag.otherpost1 as List<ProductModel> ;
}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/home">Home</a></li>
    @if(category != null){
        var li = category.ListParent();
        foreach (var l in li)
        {
        <li class="breadcrumb-item">
                        <a asp-action="Index" asp-route-categoryslug = "@l.Slug">@l.Title</a>
        </li>
        }
         <li class="breadcrumb-item">
                        <a asp-action="Index" asp-route-categoryslug = "@category.Slug">@category.Title</a>
        </li>
    }
  </ol>
</nav>
<div class = "detailpost">
    <h1>
        @Model.Title
    </h1>
    <div class= "sapo">
            @Model.Description
    </div>
    <div>
        <p>
            giá :<strong> @Model.Price</strong>
            <a asp-action="AddToCart" asp-route-productid="@Model.ProductId" class = "btn btn-danger">đặt hàng</a>
        </p>
    </div>
    <div>
        <i>cập nhập : @Model.DateUpdated</i>/
        Tác giả : <strong>@Model.Author.UserName</strong>
    </div>
    @if(Model.Photos.Any()){
                <div class = "d-flex flex-wrap">
                        @foreach (var photo in Model.Photos)
                        {
                            <img class = "w-50" src = "/contents/Products/@photo.FileName"/>
                        }
                </div>
    }
    <hr>
    @Html.Raw(Model.Content)    
</div>

@section sidebar {
        @await Component.InvokeAsync("App.Components.CategoryProductSidebar", 
        new CategoryProductSidebar.CategorysidebarData() {
                categories = categories,
                level = 0,
                categoryslug = ViewBag.categoryslug
        });
        
        
}   